@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
:root{
    --background:#000000;
    --red:#C20000;
    --blue:#001F70;
    --gradient:linear-gradient(180deg, #000000 0%, rgba(83,83,83,0.577381) 25%, rgba(196,196,196, 5%));
    --font: 'Titillium Web', sans-serif;
}
*{ /*todos os elementos terão essas configs*/
    margin:0;
    padding:0;
    border:0; /* borda dos botões*/
   box-sizing:border-box;
}
body{
    font-family:var(--font);
    background-color:var(--background);
}
img{
    width:100%;
}
.topo{
    width:100%;
    height:4em;
    text-align:center;
    padding-top:3px;
}
.content{
    width:80%;
    height:100%;
    max-width:70em;
    margin:auto;
}
.flex-center-bt{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:black;
}
.jogos{
    background-color:black;
    padding-top:0;
    height:100%;
    color:white;
}

.flex-center-bt a:hover{
    transform: scale(2);
    transition-duration: 0.3s;
}
.topo img{
    max-width:15em;
}
.menu{
    width:80%;
    max-width:50em;
   }
.menu ul{
    list-style-type:none;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.menu a{
    color:#fff;
    text-decoration:none;
    font-size:1em;
    padding:0.9em 2em;
}
.menu a:hover{
    background-color:var(--red);
}
main{
    background-color:black;
}
#menu-bars{
    display:none;
}
.banner{
    width:100%;
    position:relative;
}
.banner-position{
    width:100%;
    height:36em;
    position:absolute;
    top:0;
}
.banner-content{
    width:80%;
    height:100%;
    margin:auto;
    display:flex;
    justify-content:flex-end;
   
}
.banner-text{
    width:40%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#fff;
}
.banner-text h1{
font-size:3.5em;

}
.banner-text p{
    font-size: 1.4em;
    color:#fff;
}
.banner-text a{
    font-size:1.2em;
    text-transform:uppercase;
    color:#fff;
    text-decoration:none;
    background-color:var(--red);
    padding:0.5em;
    border-radius:0.5em;
    margin-top:0.8em;
}
.about{
    background-color: var(--blue);
    width:100%;
    position:relative;
    height:400px;
}
.about-angulation{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.angulation{
    width:100%;
    height:22em;
    background-color:black;
    transform:skewY(-3deg);
}
.about-position{
    width:100%;
    height:100%;
    position:absolute;
    top:100px;
}
.content-flex-center-bt {
    background-color:transparent;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    
}

.about-text{
    color:white;
    width:50%;
    color:#fff;
    text-align:justify;
}
.about-text-h2{
    font-size:2em;
    margin-bottom:1.2em;
}
.about-text p{
   font-size:1.12em;
   margin-bottom:1em;
}
.about-position img{
    max-width:28em;
    width:22%;
}
.jogos-aovivo, .jogos-embreve{
    font-family:'Roboto',sans-serif;
    font-weight:bold;
    font-size:1.875;
}
.jogos-aovivo::after{
    content:'';
    height:2.66em;
    border:solid 1px #fff;
    margin:0 1em;
}
.partida{
    width:9.5em;
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-left:1em;
}
.partida img{
    max-width:1.8em;

}
.time1,.time2{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.time1 img{
    margin-left: 0.5em;
}
.time2 img{
    margin-right:0.5em;
}

@media screen and (max-width:74.93em){

}
@media screen and (max-width:47.93em){
}
@media screen and (max-width:35.93em){
.menu-bars{
    display:inline-block;
}
}